@tailwind base;
@tailwind components;
@tailwind utilities;


.head {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 1.5;
    color: #fff;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff; */
}