@tailwind base;
@tailwind components;
@tailwind utilities;


.head {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.bounce {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.front {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in .2s;
}

.flipped .front {
    transform: rotateY(0deg);
}

.back {
    transition: all ease-in .2s;
    transition-delay: .2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}