@tailwind base;
@tailwind components;
@tailwind utilities;


.head {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.bounce {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}